/* Importing fonts */
@import url("https://fonts.cdnfonts.com/css/google-sans");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;500;600;700&display=swap");

/* Removes default padding */
::ng-deep * {
  margin: 0;
  padding: 0;
}

.nav-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
}
.content-wrapper {
  padding: 0px;
  background-color: #333;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Sofia Sans", sans-serif;
  font-weight: 700;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

img {
  width: "200px";
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  img {
    width: 125px;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: "Sofia Sans", sans-serif;
    font-weight: 500;
  }
}
