<section class="nav-wrapper">
  <div class="content-wrapper">
    <ul class="nav-ul">
      <li>
        <a href="#"
          ><img
            src="https://res.cloudinary.com/startup-grind/image/upload/dpr_2.0,fl_sanitize/v1/gcs/platform-data-dsc/contentbuilder/logo_light_stacked_MrSsU3z.png"
            alt="gdsc_logo"
            width="200px"
        /></a>
      </li>
      <li><a href="/shuxton">Angular Contributors</a></li>
      <li>
        <a class="active" href="https://github.com/shuxton/GDSC-Angular"
          >Github Repository</a
        >
      </li>
    </ul>
  </div>
</section>

<router-outlet></router-outlet>
