<body>
  <header>
    UI & animation design by
    <a href="#">Kartikeya Saini</a> social :
    <a href="https://www.linkedin.com/in/kartikeya-saini-65504b240/"
      >Linkedin</a
    >
  </header>
  <main class="cards">
    <section class="card card-one">
      <div class="top">
        <div class="date">5 Sep 2022</div>
        <div class="actions">
          <i class="fa-regular fa-bookmark"></i>
          <i class="fa-regular fa-heart"></i>
          <i class="fa-regular fa-comment"></i>
          <i class="fa-solid fa-share-nodes"></i>
        </div>
      </div>
      <div class="bottom">
        <div class="author">
          <div>
            <img
              class="author-img"
              src="https://randomuser.me/api/portraits/men/10.jpg"
            />
          </div>
          <span>John Doe</span>
        </div>
        <h1>Best Gardening Ideas in 2022</h1>
        <div class="text">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
            explicabo corporis ducimus facere ipsa obcaecati.
          </p>
          <button>Read More</button>
        </div>
      </div>
    </section>
  </main>
  <main class="cards">
    <section class="card card-two">
      <div class="top">
        <div class="date">1 Aug 2022</div>
        <div class="actions">
          <i class="fa-regular fa-bookmark"></i>
          <i class="fa-regular fa-heart"></i>
          <i class="fa-regular fa-comment"></i>
          <i class="fa-solid fa-share-nodes"></i>
        </div>
      </div>
      <div class="bottom">
        <div class="author">
          <div>
            <img
              class="author-img"
              src="https://randomuser.me/api/portraits/women/11.jpg"
            />
          </div>
          <span>Jane Doe</span>
        </div>
        <h1>My Happy Memory at the Beach</h1>
        <div class="text">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
            explicabo corporis ducimus facere ipsa obcaecati.
          </p>
          <button>Read More</button>
        </div>
      </div>
    </section>
  </main>
</body>
