<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Jaathre 2022 with CSE. (This is Shivamrut's Webpage)
    </title>
    
</head>

<body>
    <header>
        <div style="text-align: center;">
            <br>

            <div class="box1 heading">
                <h1 style="font-size: 60px;"><u>Welcome to the ultimate page <br> of UVCE to explore Jaathre 2022
                        experience of <br> Team CSE.</u> </h1>
            </div>

            <div class="resp-container">
                <p style="text-align: center;">
                    <span
                        style="font-size: 25px; font-style: italic ; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial sans-serif;">
                        <u> Here is a small clip of CSE 26 & 25 gang chilling together!</u>
                        <br>
                    </span>
                    <br>
                    <iframe class="resp-iframe" width="900" height="506" src="https://www.youtube.com/embed/TzEpANbyPL0"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <br><br>
                </p>
            </div>
        </div>

    </header>
    <main>
        <div style="text-align: center;">

            <div class="box4" style="text-align: center;">
                <p style="font-size: 30px; font-family: cursive;"><b><strong>Jaathre 2022 was an amazing experience for
                            everyone. It was <br> the first big event organised for the fresh batch of 2022. Right from
                            the moment <br> when it was announced till it got over was superb. It helped all the classes
                            <br> to know their classmatesbetter. It also helped to find out the talents our <br> college
                            mates had. The time spent in practicing have a special place in our memories. <br>
                            Finally when the moment came for our performance everyone was thrilled. It worked out <br>
                            well. Cheers to us. A lot of credit goes to our seniors <br> who visited us many times,
                            giving their valuable feedback. </strong></b> </p>
            </div>

            <br><br>

            <div class="box5">
                <p style="font-size: 35px;">We basically performed a skit whose purpose was to introduce various clubs
                    of
                    UVCE to newly joined freshers.
                </p>
                <p style="font-size: 20px;">The skit first included introduction of clubs in UVCE by seniors to juniors.
                    <br><br>

                    <img src="https://preview.redd.it/9zdehqyod2aa1.png?width=1920&format=png&auto=webp&s=dba8dd89b01c0efac439e83bd24d764163a63e77"
                        alt="" width="600px"> <br><br>

                    Then we had Classical Dance. <br><br>
                    <img src="https://preview.redd.it/a444uryod2aa1.png?width=1920&format=png&auto=webp&s=928c3a625a4309a7b4bc0d14124f87d7fd1d1e66"
                        alt="" width="600px"> <br><br>

                    Followed by Western Dance. <br><br>
                    <img src="https://preview.redd.it/8ex80lyod2aa1.png?width=1920&format=png&auto=webp&s=205c8b86fe781c525aeb9df8dcb801dc59216f86"
                        alt="!" width="600px" style="margin: 0px 25px 0px 0px;">

                    <img src="https://preview.redd.it/00wultyod2aa1.png?width=1920&format=png&auto=webp&s=643d3832252cc0df69f06d0062925c68ca9330c8"
                        alt="!" width="600px"> <br><br>

                    Finally ended it with singing. <br><br>
                    <img src="https://preview.redd.it/qzeuiryod2aa1.png?width=1920&format=png&auto=webp&s=22a7724fc3df5fa83e93d6a76fcf859c1995973e"
                        alt="" width="600px"><br><br>

                </p>

                <div class="box2">
                    <p style="font-size: 35px; color: rgb(63, 12, 12);"><b><u>IMPORTANT ADVISORY: </u> </b></p>
                    <p style="font-size: 25px  ;"><b>Do not open any unknown links, there are chances you might get rick
                            rolled. <br>
                            To read more about this <a href="https://youtu.be/dQw4w9WgXcQ">click here</a></b></p>
                </div>

                <p style="font-size: 20px;"><b>

                        Some art by my classmates. <br><br>
                        <img src="https://preview.redd.it/y6perw02n2aa1.jpg?width=960&crop=smart&auto=webp&s=c4fad27bea3019bbc5bbf184d46d24718c943df3"
                            alt="" width="500px"> <br><br>

                        My boys during practice. Lol. <br><br>
                        <iframe class="resp-iframe" width="400" height="615"
                            src="https://www.youtube.com/embed/R1TRdG0HoGw" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe><br><br>

                        We also got chance to do a make over of our seniors. Few glimpses are here. <br><br>
                        <img src="https://preview.redd.it/wawh10f2l2aa1.jpg?width=640&crop=smart&auto=webp&s=3d43d7d72d6810812ecfcbdc17095d0a366d0316"
                            alt="" width="400px" height="240px" style="margin: 0px 25px 0px 0px;">

                        <img src="https://preview.redd.it/ym9jc7kgk2aa1.jpg?width=3635&format=pjpg&auto=webp&s=4178d5add983b390dced1674d3dc4ab8b08c97c8"
                            alt="" width="400px" height="240px"><br><br>

                        <img src="https://preview.redd.it/nz02fy02n2aa1.jpg?width=640&crop=smart&auto=webp&s=4029686db7c7ddb444f13c7c704805cbf35b75ba"
                            alt="" width="300px"><br><br>

                        After our performance we had a group photo session! <br><br>
                        <img src="https://preview.redd.it/h8m4fw02n2aa1.jpg?width=640&crop=smart&auto=webp&s=f517ad93a62601e6351e1566f7b5c66a36ff7f77"
                            alt="" width="300px"> <br><br>

                        <img src="https://preview.redd.it/5yk2lv02n2aa1.jpg?width=960&crop=smart&auto=webp&s=58cdf23f0d184c9bb2703db9c5244560f9303b81"
                            alt="" width="450px" style="margin: 0px 25px 0px 0px;">

                        <img src="https://preview.redd.it/ihaf7512n2aa1.jpg?width=960&crop=smart&auto=webp&s=788bd068625bbdc536a6657cc835d5e9d95b870f"
                            alt="" width="450px">
                        <br><br>

                        <img src="https://preview.redd.it/2hrk9x02n2aa1.jpg?width=960&crop=smart&auto=webp&s=b164285ea24babc39c222507a6797e3a423d27af"
                            alt="" width="450px"><br><br>


                        The special star of our show was Ms. Sheela! <br><br>
                        <img style="border-radius: 50%; border: 3px solid black;"
                            src="https://preview.redd.it/guyl2w02n2aa1.jpg?width=960&crop=smart&auto=webp&s=4a5b205344776cb25b7bd24c851738b02c34840b"
                            alt="" width="500px">
                        <br><br><br>

                        A small clip of western dance only for you :) <br><br>
                        <iframe class="resp-iframe" width="720" height="405"
                            src="https://www.youtube.com/embed/aA-uaV0eJCw" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </b>
                </p>
            </div><br><br><br>

            <div style="font-size: 45px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                Thank you! Visit again soon.
            </div> <br>

            <hr style="border: 3px dotted black;"> <br><br>

        </div>


        <div class="box3" style="text-align: center;">

            <h2 style="font-size: 40px;"><b>About me: </b></h2>

            <p style="font-size: 25px; font-style: italic ; "><b>Hello there! I'm Shivamrut G, first semister CSE
                    student at UVCE. <br> You can call me Shiv. Very keen on learning new stuff. Fun loving guy.
                    <br> I'm a terrible dancer as you must have seen from the video (the left most guy in the
                    beginning is me :) <br> I must really thank GDSC for organizing this because of <br> of which i
                    was able to learn so many things about HTML and CSS. This was a simple try by me. Hope you liked
                    my page!</b> </p>

            <h2>P.S: I love Cats.</h2>

            <img src="https://i.pinimg.com/originals/35/ce/9f/35ce9f85da291b4c1c504d8cbd37e8ee.gif"
                style="border-radius: 50%; border: 4px solid black;" alt="Error in Loading" height="200px">

            <h2>Finally this is me! <br><br>

                <img src="https://media.licdn.com/dms/image/C4E03AQEfSIYi0Muxpw/profile-displayphoto-shrink_800_800/0/1661700535534?e=1678320000&v=beta&t=GQfu6-hnRaAd45ghv1unIPlZWkHFf7pFZF6gvvXph4Q"
                    alt="Error" width="250px" style="border-radius: 5%;">

            </h2>

            <div>
                <h3 style="color: black;">This page is created by maxus_red <br> {{ '{' }} my coder alias}</h3>
            </div>

            <h1 style="font-size: 50px;">Bye Bye!</h1>

        <br><br>

        </div>
    </main>






    <footer style="text-align: center;">

        <a href="https://www.instagram.com/shivamrutg/"><img
                src="https://www.pngfind.com/pngs/m/349-3493616_instagram-circle-logo-transparent-hd-png-download.png"
                alt="instagram" width="" height="60" style="border-radius: 50%;"></a>
        <a href="https://www.linkedin.com/in/shivamrut-g-21826124a/"><img
                src="https://i.pinimg.com/originals/ce/09/3c/ce093c7214ad357bb665cfd2f66a8b6b.png" alt="linkedin"
                width="" height="55"></a>
        <a href="https://twitter.com/maxus_red"><img
                src="https://e7.pngegg.com/pngimages/570/634/png-clipart-twitter-logo-icon-twitter-computer-network-logo.png"
                alt="twitter" width="" height="60" style="border-radius: 20%;"></a>
    </footer>
</body>

</html>